.almatyBg {
	height: 720px;
	width: 100%;
	background: url('../img/Frame.png') center center/cover no-repeat;
}
.forColor {
	height: 75px;
	width: 100%;
	background-color: #668C82;
}
.mainStr {
	height: 720px;
	width: 100%;
	display: flex;
	background-color: hsl(164, 16%, 47%);
}
.myFirstBlock{
	position: relative;
	height: 720px;
	width: 50%;
}
.mySecBlock{
	height: 720px;
	width: 50%;
}
.alImg1{
	top: 80px;
	left: 160px;
	position: absolute;
	height: 500px;
	width: 500px;
	background: url('https://www.remotelands.com/storage/media/392/conversions/b140811015-banner-size.jpg') center center/cover no-repeat;
	z-index: 2;
}
.alImg2{
	top: 110px;
	left: 190px;
	position: absolute;
	height: 500px;
	width: 500px;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdYVdnYwaXDNDQ9iRGZ0Zrn-4qcWivSim0uw&usqp=CAU') center center/cover no-repeat;
	z-index: 1;
	color: hsla(102, 100%, 100%, 1);
}
.mySecBlock h2{
	color: white;
	margin-top: 200px;
	font-size: 40px;
}
.textP{
	color: white;
	margin-left: 30px;
}
.mainP {
	margin-top: 15px;
	margin-left: 0px;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.mainStr {
	height: 1100px;
	width: 100%;
	display: flex;
	background-color: hsl(164, 16%, 47%);
	}
	.alImg1{
	top: 80px;
	left: 160px;
	position: absolute;
	height: 500px;
	width: 500px;
	background: url('https://www.remotelands.com/storage/media/392/conversions/b140811015-banner-size.jpg') center center/cover no-repeat;
	z-index: 2;
	}
	.alImg2{
		top: 110px;
		left: 125px;
		position: absolute;
		height: 500px;
		width: 500px;
		background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdYVdnYwaXDNDQ9iRGZ0Zrn-4qcWivSim0uw&usqp=CAU') center center/cover no-repeat;
		z-index: 1;
		color: hsla(102, 100%, 100%, 1);
	}
	.mySecBlock h2{
	color: white;
	margin-top: 700px;
	font-size: 40px;
	margin-left: -250px;
	}
	.textP{
		color: white;
		margin-left: -250px;
	}
	.mainP {
		margin-top: 15px;
		margin-left: -250px;
	}

}