a {
	text-decoration: none;
}
.headerDiv {
	display: flex;
	justify-content: space-between;
	height: 75px;
	align-items: center;
	background-color: #000000;
	opacity: 40%;
}
.btnLinks {
	display: flex;
	justify-content: flex-end;
	height: 75px;
	align-items: center;
	margin-right: 150px;
}
.MyBtn {
	padding-bottom: 8px;
	color: red;
}
.MyBtn a {
	color: white;
}
.elements {
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	margin-right: 16px;
}
.fSite {
	display: flex;
}
.firstBlock {
	height: 760px;
	width: 50%;
	background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
}
.secBlock {
	height: 760px;
	width: 50%;
	background: rgb(255,228,181);
}
.logoText {
	display: flex;
	margin-top: 15px;
	margin-left: 150px;
}
.logoText p {
	font-weight: 700;
	font-size: 22px;
	color: white;
}
.temp {
	height: 1000px;
	width: 100%;
}
.secBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;
}
.secBlock h1 {
	font-weight: 700;
	color: #778899;
	font-size: 50px;
}
.secBlock p {
	color: #2F4F4F;
	opacity: 80%;
	font-size: 32px;
}
.temp {
	margin-top: 50px;	
}

.btn11 {
	height: 70%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.myBtn11 {
	width: 100px;
}

@media (min-width: 1200px) {
	a {
	text-decoration: none;
	}
	.headerDiv {
		display: flex;
		justify-content: space-between;
		height: 75px;
		align-items: center;
		background-color: #000000;
		opacity: 40%;
	}
	.btnLinks {
		display: flex;
		justify-content: flex-end;
		height: 75px;
		align-items: center;
		margin-right: 150px;
	}
	.MyBtn {
		padding-bottom: 8px;
		color: red;
	}
	.MyBtn a {
		color: white;
	}
	.elements {
		color: #fff;
		font-size: 22px;
		font-weight: 400;
		margin-right: 16px;
	}
	.fSite {
		display: flex;
	}
	.firstBlock {
		height: 760px;
		width: 50%;
		background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
	}
	.secBlock {
		height: 760px;
		width: 50%;
		background: rgb(255,228,181);
	}
	.logoText {
		display: flex;
		margin-top: 15px;
		margin-left: 150px;
	}
	.logoText p {
		font-weight: 700;
		font-size: 22px;
		color: white;
	}
	.temp {
		height: 1000px;
		width: 100%;
	}
	.secBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 40px;
	}
	.secBlock h1 {
		font-weight: 700;
		color: #778899;
		font-size: 50px;
	}
	.secBlock p {
		color: #2F4F4F;
		opacity: 80%;
		font-size: 32px;
	}
	.temp {
		margin-top: 50px;	
	}

	.btn11 {
	height: 60%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	}

	.myBtn11 {
		width: 200px;
		margin: 0 10px;
	}
	.myBtn11q {
		margin-left: 0;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	a {
	text-decoration: none;
	}
	.headerDiv {
		display: flex;
		justify-content: space-between;
		height: 75px;
		align-items: center;
		background-color: #000000;
		opacity: 40%;
	}
	.btnLinks {
		display: flex;
		justify-content: flex-end;
		height: 75px;
		align-items: center;
		margin-right: 70px;
	}
	.MyBtn {
		padding-bottom: 8px;
		color: red;
	}
	.MyBtn a {
		color: white;
	}
	.elements {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		margin-right: 16px;
	}
	.fSite {
		display: flex;
	}
	.firstBlock {
		height: 560px;
		width: 50%;
		background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
	}
	.secBlock {
		height: 560px;
		width: 50%;
		background: rgb(255,228,181);
	}
	.logoText {
		display: flex;
		margin-top: 15px;
		margin-left: 70px;
	}
	.logoText p {
		font-weight: 700;
		font-size: 22px;
		color: white;
	}
	.temp {
		height: 1000px;
		width: 100%;
	}
	.secBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 40px;
	}
	.secBlock h1 {
		font-weight: 700;
		color: #778899;
		font-size: 40px;
	}
	.secBlock p {
		color: #2F4F4F;
		opacity: 80%;
		font-size: 26px;
	}
	.temp {
		margin-top: 50px;	
	}
	.btn11 {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	}

	.myBtn11 {
		width: 120px;
		margin: 0 15px;
	}
	.myBtn11q {
		margin-left: 0;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	a {
	text-decoration: none;
	}
	.headerDiv {
		display: flex;
		justify-content: space-between;
		height: 75px;
		align-items: center;
		background-color: rgb(0, 0, 0);
		opacity: 40%;
	}
	.btnLinks {
		display: flex;
		justify-content: flex-end;
		height: 75px;
		align-items: center;
		margin-right: 70px;
	}
	.MyBtn {
		padding-bottom: 8px;
		color: red;
	}
	.MyBtn a {
		color: white;
	}
	.elements {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		margin-right: 16px;
	}
	.fSite {
		display: flex;
	}
	.firstBlock {
		height: 560px;
		width: 50%;
		background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
	}
	.secBlock {
		height: 560px;
		width: 50%;
		background: rgb(255,228,181);
	}
	.logoText {
		display: flex;
		margin-top: 15px;
		margin-left: 70px;
	}
	.logoText p {
		font-weight: 700;
		font-size: 22px;
		color: white;
	}
	.temp {
		height: 1000px;
		width: 100%;
	}
	.secBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 40px;
	}
	.secBlock h1 {
		font-weight: 700;
		color: rgba(210, 14%, 53%);
		font-size: 35px;
	}
	.secBlock p {
		color: #2F4F4F;
		opacity: 80%;
		font-size: 20px;
	}
	.temp {
		margin-top: 50px;	
	}
	.btn11 {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	}

	.myBtn11 {
		width: 90px;
		margin: 0 8px;
	}
	.myBtn11q {
		margin-left: 0;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	a {
	text-decoration: none;
	}
	.headerDiv {
		display: flex;
		justify-content: space-between;
		height: 55px;
		align-items: center;
		background-color: #000000;
		opacity: 40%;
	}
	.btnLinks {
		display: flex;
		justify-content: flex-end;
		height: 55px;
		align-items: center;
		margin-right: 30px;
	}
	.MyBtn {
		padding-bottom: 8px;
		color: red;
	}
	.MyBtn a {
		color: white;
	}
	.elements {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		margin-right: 10px;
	}
	.fSite {
		display: flex;
	}
	.firstBlock {
		height: 400px;
		width: 0%;
		background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
	}
	.secBlock {
		height: 400px;
		width: 100%;
		background: rgb(255,228,181);
	}
	.logoText {
		display: flex;
		margin-top: 15px;
		margin-left: 30px;
	}
	.logoText p {
		font-weight: 700;
		font-size: 16px;
		color: white;
	}
	.temp {
		height: 1000px;
		width: 100%;
	}
	.secBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 20px;
	}
	.secBlock h1 {
		font-weight: 700;
		color: #778899;
		font-size: 28px;
	}
	.secBlock p {
		color: #2F4F4F;
		opacity: 80%;
		font-size: 16px;
	}
	.temp {
		margin-top: 50px;	
	}
	.btn11 {
	height: 70%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	}

	.myBtn11 {
		width: 100px;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	a {
	text-decoration: none;
	}
	.headerDiv {
		display: flex;
		justify-content: space-between;
		height: 0px;
		align-items: center;
		background-color: #000000;
		opacity: 40%;
	}
	.btnLinks {
		display: flex;
		justify-content: flex-end;
		height: 0px;
		align-items: center;
		margin-right: 30px;
	}
	.MyBtn {
		margin-top: -300px;
		height: 0px;
		padding-bottom: 8px;
		color: red;
	}
	.MyBtn a {
		height: 0px;
		color: white;
	}
	.elements {
		color: #fff;
		font-size: 0px;
		font-weight: 400;
		margin-right: 10px;
	}
	.fSite {
		display: flex;
	}
	.firstBlock {
		height: 400px;
		width: 0%;
		background: url('https://www.swarco.com/sites/default/files/public/inline-images/Astana.jpg') center center/cover no-repeat;
	}
	.secBlock {
		height: 400px;
		width: 100%;
		background: rgb(255,228,181);
	}
	.logoText {
		display: flex;
		margin-top: 15px;
		margin-left: 30px;
	}
	.logoText p {
		font-weight: 700;
		font-size: 0px;
		color: white;
	}
	.temp {
		height: 1000px;
		width: 100%;
	}
	.secBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 20px;
	}
	.secBlock h1 {
		font-weight: 700;
		color: #778899;
		font-size: 28px;
	}
	.secBlock p {
		color: #2F4F4F;
		opacity: 80%;
		font-size: 16px;
	}
	.temp {
		margin-top: 50px;	
	}

	.btn11 {
	height: 70%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	}

	.myBtn11 {
		width: 100px;
	}
}